.quotecontainer {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-size: 250% 100%;
  background-position: right bottom;
}

.quotecontainer:after {
  content: "";
  position: fixed;
  display: block;
  width: 230%;
  height: 395%;
  bottom: -125%;
  left: -11%;
  transform: translateY(-100%);
  rotate: 225deg;
  background-position: center;
}

.quote-container--red.quotecontainer:after {
  background-color: var(--red);
  box-shadow: var(--box-shadow);
}

.quote-container--turquoise.quotecontainer:after {
  background-color: var(--turquoise);
  box-shadow: var(--box-shadow);
}

.quote-container--pink.quotecontainer:after {
  background-color: var(--pink);
  box-shadow: var(--box-shadow);
}

.quote-container--lavender.quotecontainer:after {
  background-color: var(--lavender);
  box-shadow: var(--box-shadow);
}

.quote-container--gold.quotecontainer:after {
  background-color: var(--gold);
  box-shadow: var(--box-shadow);
}

.quote-container--darkgreen.quotecontainer:after {
  background-color: var(--darkgreen);
  box-shadow: var(--box-shadow);
}

.quote-container--olivegreen.quotecontainer:after {
  background-color: var(--olivegreen);
  box-shadow: var(--box-shadow);
}

.quote-container--plum.quotecontainer:after {
  background-color: var(--plum);
  box-shadow: var(--box-shadow);
}

.quote-container--wheat.quotecontainer:after {
  background-color: var(--wheat);
  box-shadow: var(--box-shadow);
}

.diagonal-wipe.quotecontainer:after {
  transform: translateY(0%);
  animation-name: wipe;
  animation-duration: 1200ms;
}

@keyframes wipe {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@media screen and (min-width: 768px) {
  .quotecontainer:after {
    bottom: -136%;
  }
}
